/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 2rem;
}

.project {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #fff;
    margin-top: 1rem;
    transition: all 0.3s ease; /* Transición suave para el contenedor del proyecto */
}

/* Estilo para el título del proyecto */
.project h3 {
    cursor: pointer;
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave para el fondo del título */
}

.project h3:hover {
    background-color: #004c99; /* Color al pasar el ratón */
}

/* Ocultar el contenido del proyecto inicialmente */
.project-content {
    max-height: 0; /* Altura máxima inicial es cero */
    overflow: hidden; /* Ocultar contenido que excede la altura máxima */
    transition: max-height 0.5s ease-out; /* Transición suave para la altura máxima */
}

/* Mostrar el contenido al pasar el ratón sobre el proyecto */
.project:hover .project-content {
    max-height: 200px; /* Ajusta este valor según la altura necesaria para mostrar todo el contenido */
}

/* Justificar el texto en la sección "Sobre Mí" */
#about p {
    text-align: justify; /* Justificar el texto */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}