/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 2rem;
}

#about p {
    text-align: justify; /* Justificar el texto en la sección "Sobre Mí" */
}

.project {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #fff;
    margin-top: 1rem;
}

/* Estilo para el título del proyecto */
.project h3 {
    cursor: pointer;
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project h3:hover {
    background-color: #004c99;
}

/* Contenido del proyecto */
.project-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* Mostrar contenido al pasar el ratón en dispositivos de escritorio */
@media (hover: hover) and (pointer: fine) {
    .project:hover .project-content {
        max-height: 500px; /* Ajusta este valor según sea necesario */
    }
}

/* Estilo para el enlace a GitHub */
.github-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #0066cc; 
}

a:hover {
   text-decoration: underline; 
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    
   .project-content {
       max-height: none; 
       display: none; 
   }

   .project.active .project-content {
       display: block; 
   }
}